/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.spacer
{
    height:5px;
}
.emailink
{
    text-decoration:none;
    color:White;
}
.emailink:hover
{
    color:black;
}