@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Work</h2>
        <p>
            ASP.NET, VB, C#, HTML, CSS, Javascript, jQuery, SQL, MySQL, iOS, Android, SEO
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Play</h2>
        <p>Music, Football, Sewing, Gaming, Wrestling</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <a href="http://www.twitter.com/pretty_primate" target="_blank" style="border:none; text-decoration:none">
            <img src="~/Content/Images/twitter.png" width="75" />
        </a>
        <a href="http://www.facebook.com/david.bubb.92" target="_blank" style="border:none; text-decoration:none">

            <img src="~/Content/Images/facebook.png" width="75" />
        </a>
        <div class="spacer"></div>
        <a href="https://www.linkedin.com/pub/david-bubb/58/a78/845" target="_blank" style="border:none; text-decoration:none">

            <img src="~/Content/Images/linkedin.png" width="75" />
        </a>
        <a href="https://www.flickr.com/photos/prettyprimate/" target="_blank" style="border:none; text-decoration:none">

            <img src="~/Content/Images/flickr.png" width="75" />
        </a>
    </div>
</div>