
@{
    ViewBag.Title = "Sewing";
}

<div class="jumbotron">
    <div class="container">
        <h1>Sewing</h1>
        <p>I recently started sewing with big ideas for what I plan to make. Here's some of the projects I've been working on</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Apron</h2>
            <p>My first finished item from the Sewing Bee book</p>
            <center>
                <img src="~/Content/Images/apron.jpg" alt="Bubba Knits" width="250px" />
            </center>
        </div>
        <div class="col-md-4">
            <!-- <h2>Play</h2>
             <p>Music, Sewing, Gaming</p>
             <p><a class="btn btn-default" href="#" role="button">View more &raquo;</a></p>-->
        </div>
        <div class="col-md-4">

        </div>
    </div>
    </div>
