
@{
    ViewBag.Title = "Websites";
}


<div class="jumbotron">
    <div class="container">
        <h1>Websites</h1>
        <p>I've created a few websites using different technologies. Click below to see them in action</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Bubba Knits</h2>
            <p>A site i did for a family member to display handmade childrens clothing using asp.net with a sql database</p>
            <center>
                <a href="http://www.bubbaknits.co.uk" target="_blank">
                    <img src="~/Content/Images/bubbaknits.jpg" alt="Bubba Knits" width="250px" />
                </a>
            </center>

        </div>
        <div class="col-md-4">
            <h2>Sic City</h2>
            <p>A site I created a while ago to show off my abilities with flash, photoshop and 3DS Max</p>
            <center>
                <a href="http://www.davidbubb.co.uk/websites/siccity" target="_blank">
                    <img src="~/Content/Images/siccity.jpg" alt="Sic City" width="250px" />
                </a>
            </center>

        </div>
        <div class="col-md-4">
            <h2>Pretty Primate</h2>
            <p>The plan for this is to display items of clothing I create. It's still in progress at the moment</p>
            <center>
                <p><a href="http://www.prettyprimate.com" target="_blank">
                       <img src="~/Content/Images/prettyprimate.jpg" alt="Pretty Primate" width="250px" />
                   </a></p>
            </center>
        </div>
    </div>
</div>